﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Chuadangnhap.cshtml";
}
<head>
    <link rel="stylesheet" href="~/assets/css/account.css">
</head>
<div class="container">
    <div class="container__register">
        <h2>Đăng ký</h2>
        <form id="registerForm" action="@Url.Action("Register","Account")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="text" id="sdt" name="sdt" required placeholder="Số điện thoại">
                <span class="error-message" id="phone-error">@ViewBag.ErrorMessage2</span>
            </div>
            <div class="form-group">
                <input type="text" id="hoten" name="hoten" required placeholder="Họ và Tên">
                <span class="error-message" id="name-error"></span>
            </div>
            <div class="form-group">
                <input type="password" id="matkhau" name="matkhau" required placeholder="Mật khẩu">
                <span class="error-message" id="password-error"></span>
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" name="confirmPassword" required placeholder="Xác nhận mật khẩu">
                <span class="error-message" id="confirm-password-error">@ViewBag.ErrorMessage3</span>
            </div>
            <hr>
            <div class="form-group">
                <input type="email" id="gmail" name="gmail" required placeholder="Email">
                <span class="error-message" id="email-error"></span>
            </div>
            <button type="submit">Đăng Ký Ngay</button>
        </form>
        <div class="service">Bằng cách nhấn Đăng Ký Ngay, bạn đồng ý với<a href="">Điều khoản dịch vụ</a>và<a href="">Chính sách bảo mật</a></div>
    </div>
</div>

