@model IEnumerable<PetLand.Areas.Admin.Models.ChiTietDonHang>
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Trangchu.cshtml";
}
<head>
    <link rel="stylesheet" href="~/assets/css/order.css">
</head>
<div class="container">
    <div class="tabs">
        <div class="tab active" data-type="0">Chờ xác nhận</div>
        <div class="tab" data-type="1">Đã xác nhận</div>
        <div class="tab" data-type="2">Đang vận chuyển</div>
        <div class="tab" data-type="3">Đã giao hàng</div>
        <div class="tab" data-type="4">Đã hủy</div>
    </div>
    <div id="orders-0" class="orders active">
        <!-- Order Item 2 -->
        <div class="order-item">
            <div class="order-header">
                @foreach (var item in Model)
                {
                    <span class="order-code">MÃ ĐƠN HÀNG:@Html.DisplayFor(modelItem => item.Donhang.idDonhang)</span>
                    <div class="status">
                        <span class="order-time">@Html.DisplayFor(modelItem => item.Donhang.ngaytao)</span>
                        <span class="order-status">CHỜ XÁC NHẬN</span>
                    </div>
                }
            </div>
            @foreach (var item in Model)
            {
                <div class="product-info">
                    <img src="~/assets/img/product.jpg" alt="">
                    <div class="product-details">
                        @{Html.RenderAction("Order_xacnhan", "Trangchinh");}
                        <span class="product-quantity">@Html.DisplayFor(modelItem => item.sl)</span>
                    </div>
                </div>
            }
                <div class="order-footer">
                    <div class="total">
                        <i class="fa-solid fa-coins"></i> Thành tiền:
                        <span class="order-total">200.000₫</span>
                    </div>
                    <div class="order-btn">
                        <button class="cancel-button">Hủy Đơn Hàng</button>
                        <button class="contact-seller-button">Liên Hệ</button>
                    </div>
                </div>
            </div>

    </div>

    <div id="orders-1" class="orders">
        <div class="order-item">
            <div class="order-header">
                <span class="order-code">MÃ ĐƠN HÀNG: 012345</span>
                <div class="status">
                    <span class="order-time">17/8/2024 19:24</span>
                    <span class="order-status">ĐÃ XÁC NHẬN</span>
                </div>
            </div>
            <div class="product-info">
                <img src="~/assets/img/product.jpg" alt="">
                <div class="product-details">
                    <span class="product-name">Tên sản phẩm</span>
                    <span class="product-type">Phân loại hàng:</span>
                    <span class="product-quantity">x1</span>
                    <span class="product-price">100.000₫</span>
                </div>
            </div>

            <div class="order-footer">
                <div class="total">
                    <i class="fa-solid fa-coins"></i> Thành tiền:
                    <span class="order-total">200.000₫</span>
                </div>
                <div class="order-btn">
                    <button id="contactButton" class="contact-seller-button">Liên Hệ</button>
                </div>
            </div>
        </div>

    </div>

    <div id="orders-2" class="orders">
        <div class="order-item">
            <div class="order-header">
                <span class="order-code">MÃ ĐƠN HÀNG: 012345</span>
                <div class="status">
                    <span class="order-time">17/8/2024 19:24</span>
                    <span class="order-status">ĐANG GIAO HÀNG</span>
                </div>
            </div>
            <div class="product-info">
                <img src="~/assets/img/product.jpg" alt="">
                <div class="product-details">
                    <span class="product-name">Tên sản phẩm</span>
                    <span class="product-type">Phân loại hàng:</span>
                    <span class="product-quantity">x1</span>
                    <span class="product-price">100.000₫</span>
                </div>
            </div>
            <div class="order-footer">
                <div class="total">
                    <i class="fa-solid fa-coins"></i> Thành tiền:
                    <span class="order-total">200.000₫</span>
                </div>
                <div class="order-btn">
                    <button id="contactButton" class="contact-seller-button">Liên Hệ</button>
                </div>
            </div>
        </div>

    </div>
    <div id="orders-3" class="orders">
        <div class="order-item">
            <div class="order-header">
                <span class="order-code">MÃ ĐƠN HÀNG: 012345</span>
                <div class="status">
                    <span class="order-time">17/8/2024 19:24</span>
                    <span class="order-status">HOÀN THÀNH</span>
                </div>
            </div>

            <div class="product-info">
                <img src="~/assets/img/product.jpg" alt="">
                <div class="product-details">
                    <span class="product-name">Tên sản phẩm</span>
                    <span class="product-type">Phân loại hàng:</span>
                    <span class="product-quantity">x1</span>
                    <span class="product-price">100.000₫</span>
                </div>

                <div class="product-rating" data-rating="0">
                    <textarea class="rating-comment" placeholder="Nhập đánh giá của bạn..."></textarea>
                    <div id="note-rating" class="rating-display" style="display: none;"></div>
                    <div class="star">
                        <div class="star-rating">
                            <i class="fa-solid fa-star rating-star"></i>
                            <i class="fa-solid fa-star rating-star"></i>
                            <i class="fa-solid fa-star rating-star"></i>
                            <i class="fa-solid fa-star rating-star"></i>
                            <i class="fa-solid fa-star rating-star"></i>
                        </div>
                        <button class="received-button">Đánh Giá</button>
                    </div>
                </div>
            </div>

            <div class="order-footer">
                <div class="total">
                    <i class="fa-solid fa-coins"></i> Thành tiền:
                    <span class="order-total">200.000₫</span>
                </div>
                <div class="order-btn">
                    <button id="contactButton" class="contact-seller-button">Liên Hệ</button>
                </div>
            </div>
        </div>

    </div>
    <div id="orders-4" class="orders">
        <div class="order-item">
            <div class="order-header">
                <span class="order-code">MÃ ĐƠN HÀNG: 012345</span>
                <div class="status">
                    <span class="order-time">17/8/2024 19:24</span>
                    <span class="order-status">ĐÃ HỦY</span>
                </div>
            </div>
            <div class="product-info">
                <img src="~/assets/img/product.jpg" alt="">
                <div class="product-details">
                    <span class="product-name">Tên sản phẩm</span>
                    <span class="product-type">Phân loại hàng:</span>
                    <span class="product-quantity">x1</span>
                    <span class="product-price">100.000₫</span>
                </div>
            </div>
            <div class="order-footer">
                <div class="total">
                    <i class="fa-solid fa-coins"></i> Thành tiền:
                    <span class="order-total">200.000₫</span>
                </div>
                <div class="order-btn">
                    <button id="contactButton" class="contact-seller-button">Liên Hệ</button>
                </div>
            </div>
        </div>

    </div>
</div>
