@model IEnumerable<PetLand.Areas.Admin.Models.SanPham>



@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <span class="product-name">@Html.DisplayFor(modelItem => item.tensp)</span>
        <span class="product-type">@Html.DisplayFor(modelItem => item.ChiTietLoaiSanPham.tenchitiet)</span>
        <span class="product-price">@Html.DisplayFor(modelItem => item.gia)</span>
    }
}